/* Blue Skin Colors
================================================== */

a, a:visited, 
.navSide li a:hover, 
.navSide li.active a span, 
.thumbLink:hover h3, 
.accTrigger a:hover,
span.color,
.postTabLink:hover .postTab p,
blockquote:before,
blockquote:after,
.tp-caption.themeColor,
#logo a,
.tp-caption.big_themeColor
{ 
	color: #ce2671;
}


#navMain ul ul li a:hover,
#filters a:hover,
.selected,
.selected:hover,
.blogTags a:hover,
.testimonials.testTheme .testimonialText,
.footerBottomText,
.highlight,
.dropcap
{
    background:#ce2671;
}


.selected,
.selected:hover
{
	background: #ce2671 !important;
}


#backtotop a:hover, 
.topDropPanel, 
.bar, 
ul.tabs li a, 
ul.pageList li a, 
table.tableGeneric tr:hover td ,
.featureIcon.analytics,
.featureIcon.cart,
.featureIcon.earplugs,
.featureIcon.imac,
.featureIcon.iphone,
.featureIcon.lightbulb,
.featureIcon.rabbit,
.featureIcon.vector,
#whiteIcons
{
	background-color: #ce2671;
}
 
.iconWrapper, #ta1, #ta2, #ta3, #ta4, #ta5, #ta6, #ta7, #ta8,
#servicesAni:hover #sa1,
#servicesAni:hover #sa2,
#servicesAni:hover #sa3,
#servicesAni:hover #sa4,
#servicesAni:hover #sa5,
#servicesAni:hover #sa6,
#servicesAni:hover #sa7,
#servicesAni:hover #sa8
{
	background-color: rgba(206,38,113,0.7);
}

.navSide li.active a span,
.thumbLink:hover h3 
{
	border-bottom-color: #ce2671;
}


.flex-direction-nav a.flex-next {background-position: 0 60px;}
.flex-direction-nav a.flex-next:hover {background-position: 60px 60px;}
.flex-direction-nav a.flex-prev {background-position: 90px 60px;}
.flex-direction-nav a.flex-prev:hover {background-position: 30px 60px;}
.testimonials.testTheme .testimonialAuthor {background-position: 30px -147px;}
#topDropBut{background-position: 0px -95px;}
#topDropBut:hover{background-position: -34px -95px;}
.logoIcon {background-position: center -250px;}
.topBorder{background-position: center -140px; border-top: 5px solid #ce2671;}
.footerBottomImage {background-position: center -165px;}
.prev {background-position: 0px -240px;}
.next {background-position: -20px -240px;}
.prev:hover {background-position: -40px -240px;}
.next:hover {background-position: -60px -240px;}

.button.themeButton {
	border: 1px solid #7e0035;
	background-image:         linear-gradient(bottom, #9d0947 0%, #ce2671 100%);
	background-image:      -o-linear-gradient(bottom, #9d0947 0%, #ce2671 100%);
	background-image:     -ms-linear-gradient(bottom, #9d0947 0%, #ce2671 100%);
	background-image:    -moz-linear-gradient(bottom, #9d0947 0%, #ce2671 100%);
	background-image: -webkit-linear-gradient(bottom, #9d0947 0%, #ce2671 100%);
	background-color: #9d0947;
	color:#fff;
	text-shadow: 1px -1px 0px #7e0035;
}

.button.themeButton:hover {background: #9d0947; color:#fff;}